<!-- launch file when using vector nav -->

<launch>
    <node pkg="recovery_supervisor" type="recovery_supervisor"
          name="recovery_supervisor" output="screen">

        <remap from="/odom" to="/vector/odometry/local_filtered" />
        <remap from="move_base/status" to="move_base_navi/status" />
        <remap from="cmd_vel" to="/vector/teleop/cmd_vel" />

    </node>

</launch>

