<?xml version="1.0"?>
<launch>
  <arg name='map_name' default='preferences_map'/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(find vector_navigation_apps)/maps/$(arg map_name).yaml" output="screen"/>
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find recovery_supervisor)/rviz/demo.rviz" output="screen"/>
</launch>
